/* Base styles for mobile-first approach */
#simpleSlider[hidden],
#inputSurfer[hidden],
#barSurfer[hidden] ::part(wrapper),
#barSurfer>div.mdl-slider-background-flex-container,
#barSurfer>input.nowPlayingBarPositionSlider,
#barSurfer>div.sliderBubbleTrack {
    display: none;
}

#barSurfer ::part(wrapper) {
    display: block;
    width: 100vw;
}

#barSurfer ::part(cursor) {
    border-radius: 10px;
}

#inputSurfer,
#simpleSlider {
    height: 6rem;
    margin-bottom: 2rem;
    margin-top: 0rem;
    max-width: 85vw;
}

.nowPlayingVolumeSliderContainer,
.volumecontrol.hide {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
}

canvas#visualizer {
    position: fixed;
    z-index: -1;
    opacity: 0.45;
}

.nowPlayingInfoContainer {
    height: calc(98% - 4.2em);
}

.padPagination {
    padding-bottom: 12rem;
}

/* Medium devices (tablets, 690px and up) */
@media (min-width: 690px) {
    #inputSurfer {
        height: 5rem;
        margin-bottom: 1rem;
        margin-top: -0.5rem;
        max-width: 75vw;
    }

    #simpleSlider {
        height: 2rem;
        margin-bottom: 0rem;
        margin-top: 1rem;
        max-width: 75vw;
    }
}

/* Large devices (desktops, 1600px and up) */
@media (min-width: 1600px) {

    #inputSurfer,
    #simpleSlider {
        height: 136px;
        margin: 0;
        position: fixed;
        left: 0;
        right: 0;
        max-width: 100vw;
        bottom: 1.5rem;
    }

    #simpleSlider {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    /* Additional styles for large devices */
    .backgroundContainer.withBackdrop,
    .nowPlayingInfoControls>.infoContainer,
    header,
    div#itemDetailPage,
    div#musicPage,
    div#indexPage,
    .nowPlayingInfoContainer>.nowPlayingPageImageContainer,
    .layout-desktop,
    .scrollY {
        opacity: 1;
        transition: opacity 2s ease-in-out;
        scrollbar-width: none;
    }

    body.mouseIdle .backgroundContainer.withBackdrop,
    body.mouseIdle .nowPlayingInfoControls>.infoContainer,
    body.mouseIdle header,
    body.mouseIdle div#itemDetailPage,
    body.mouseIdle div#musicPage,
    body.mouseIdle div#indexPage,
    body.mouseIdle .nowPlayingInfoContainer>.nowPlayingPageImageContainer {
        opacity: 0.2;
        transition: opacity 7s ease-in-out;
    }

    /* Hover effects */
    #playlist>div:hover>div.listViewUserDataButtons,
    #playlist>div:hover>span {
        opacity: 1;
    }

    #playlist>div>div.listViewUserDataButtons,
    #playlist>div>span {
        opacity: 0;
    }

    /* Fixed positioning for certain elements */
    .nowPlayingInfoContainer,
    .sliderContainer.flex,
    div.playlistSection {
        position: fixed;
        bottom: 12rem;
        max-width: 60rem;
        left: 6rem;
    }

    /* Visibility toggles for idle mouse state */
    body.mouseIdle .nowPlayingInfoContainer>.nowPlayingInfoControls>.nowPlayingButtonsContainer,
    body.mouseIdle .playlistSection>div.playlistSectionButton,
    body.mouseIdle .listViewUserDataButtons,
    body.mouseIdle .listViewDragHandle.material-icons.listItemIcon.drag_handle,
    body.mouseIdle .remoteControlSection {
        display: none;
    }
}